@model Forum.Web.Models.Home.HomeIndexModel

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://w.wallhaven.cc/full/4o/wallhaven-4orkl4.jpg" alt="Beach" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Find people with similar interests...
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://w.wallhaven.cc/full/vm/wallhaven-vmx8r3.jpg" alt="Mountain Lake" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Organize your trip together...
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://w.wallhaven.cc/full/nk/wallhaven-nko71d.jpg" alt="Mountain pasture" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Have fun!
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Meet</h2>
        <img src="https://w.wallhaven.cc/full/47/wallhaven-47x9de.jpg" alt="Skiing" class="img-responsive small-img">
        <ul>
            <li>Meet people who also love sports</li>
            <li>Maybe go skiing</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Travel</h2>
        <img src="https://w.wallhaven.cc/full/4l/wallhaven-4lj9pq.jpg" alt="Biking" class="img-responsive small-img" />
        <ul>
            <li>Adventures are waiting</li>
            <li>Find your group</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Discover</h2>
        <img src="https://w.wallhaven.cc/full/45/wallhaven-45dpq7.jpg" alt="Paris" class="img-responsive small-img" />
        <ul>
            <li>Discover new places</li>
            <li>Make your memories last</li>
        </ul>
    </div>
</div>