@using Forum.Web.Models.AccountViewModels
@model Forum.Web.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="jumbotron jumbotron-fluid">

    <h1 class="display-4">@ViewData["Title"]</h1>

    <p class="lead">Enter your email.</p>
    <a class="btn btn-back" role="button" asp-area="" asp-controller="Account" asp-action="Login">Go back</a>
    <hr class="my-4">

    <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-lg btn-success">Submit</button>
    </form>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




